body > #root > div {
  height: 95vh;
  text-align: center;
  cursor: crosshair;
}
html {
  background-color: lightgrey;
}

.circleTarget {
  background-color: blue;
  border-radius: 50%;
  position: absolute;
}

[class^="squareTarget"] {
  position: absolute;
}

/* modal css */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
/* Modal Header */
.modal-header {
  padding: 2px 16px;
  background-color: lightblue;
  color: white;
}

/* Modal Body */
.modal-body {
  padding: 2px 16px;
}

/* Modal Footer */
.modal-footer {
  padding: 2px 16px;
  background-color: lightblue;
  color: white;
}

/* Modal Content */
.modal-content {
  cursor: auto;
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 35%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/*  difficulty buttons  */

#medium,
#hard,
#easy,
#ruthless {
  background-color: grey; /* Green */

  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
}

button {
  border: none;
  color: white;
  padding: 15px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-flex;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: grey;
  border-radius: 5%;
}

#color-button-container {
  display: inline-block;
  align-content: flex-end;
}

#orange {
  background-color: white;
  color: black;
  border: 2px solid orange;
}

#orange:hover,
#orange:visited {
  background-color: orange;
  color: white;
}

#red {
  background-color: white;
  color: black;
  border: 2px solid #f44336;
}

#red:hover,
#red:visited {
  background-color: #f44336;
  color: white;
}

#yellow {
  background-color: white;
  color: black;
  border: 2px solid yellow;
}

#yellow:hover,
#yellow:visited {
  background-color: yellow;
}

#green {
  background-color: white;
  color: black;
  border: 2px solid green;
}

#green:hover,
#green:visited {
  background-color: green;
  color: white;
}

#blue {
  background-color: white;
  color: black;
  border: 2px solid blue;
}

#blue:hover,
#blue:visited {
  background-color: blue;
  color: white;
}

#indigo {
  background-color: white;
  color: black;
  border: 2px solid indigo;
}

#indigo:hover,
#indigo:visited {
  background-color: indigo;
  color: white;
}

#violet {
  background-color: white;
  color: black;
  border: 2px solid violet;
}

#violet:hover,
#violet:visited {
  background-color: violet;
  color: white;
}

#lightblue {
  background-color: white;
  color: black;
  border: 2px solid lightblue;
}

#lightblue:hover,
#lightblue:visited {
  background-color: lightblue;
  color: white;
}
/* Add Animation */
@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

#target-size-input {
  width: 10%;
  padding: 2%;
}
