body > #root > div {
  height: 100vh;
  text-align: center;
}

.circleTarget {
  background-color: blue;
  border-radius: 50%;
  position: absolute;
}

.squareTarget {
  background-color: red;
  color: blue;

  position: absolute;
}
